*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -moz-scrollbar-width: none;
  -webkit-scrollbar-width: none;
  -ms-scrollbar-width: none;
  overflow-x: hidden;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: var(--transition);
  /* font-family: 'Poppins', sans-serif; */
}
:root{
  --transition: 0.3s ease;
  --color-bg: lightgray;
  --color-bg-variant: rgb(102, 202, 3);
  --switch-color: gray;
  --color-gray: #111;
  --light-gray: dimgray;
  --dm-gray: #111;
  --color-white-gray: white;
  --color-white-dm: white;
  --blur-switch: white;
  --shadow: rgba(0,0,0,0.6);
  --color-green-gray: gray;
}
[data-theme='dark']{
  --transition: 0.3s ease;
  --color-white-dm: dimgray;
  --color-bg-variant: chartreuse;
  --color-bg: rgb(5, 18, 43);
  --switch-color: chartreuse;
  --color-gray: gray;
  --light-gray: lightgray;
  --dm-gray: dimgray;
  --color-white-gray: lightgray;
  --blur-switch: chartreuse;
  --color-green-gray: chartreuse;
}
body{
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-bg);
}
.App{
  width: 100vw;
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  height: max-content;
  min-height: 100vh;
  background-color: var(--color-bg);
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

}

section{
  width: 100vw;
  height: 100vh;
  padding: 1rem 3.5rem 0;
}
#skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.skill-set{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin-top: 5rem;
  gap: 1rem;
  color: var(--color-gray);
}
.skill{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.skill:hover{
  background-color: rgba(0,0,0,0.2);
}
.level{
  color: var(--color-green-gray);
}
.skill-icon{
  font-size: 5rem;
}
.nav-container{
  width: 100%;
  transition: var(--transition);
  overflow: hidden;
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 1rem;
  height: 5rem;
  z-index: 99;
}
.nav-items{
  display: flex;
  background-color: var(--shadow);
  padding: 0.5rem 2rem;
  align-items: center;
  font-size: 1.3rem;
  gap: 2rem;
  justify-content: center;
  backdrop-filter: blur(8px);
  border-radius: 3rem;
}
.nav-icon{
  font-size: 2rem;
  color: var(--color-white-dm);
  transition: var(--transition);
}
.nav-icon:hover{
  color: var(--color-bg-variant);
}
.show-sidemenu{
  right: 0;
}
.turnBars{
  transform: rotate(360deg);
}
.topbar-right{
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.btn{
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: var(--transition);
}
.resume{
  border: 1px solid var(--color-bg-variant);
  width: max-content;
  padding: 0.6rem 0.5rem;
  border-radius: 0.5rem;
  color: var(--color-gray);
  font-size: 0.9rem;
  font-weight: 400;
  position: relative;
  overflow: hidden;
}
.form-top{
  display: flex;
  gap: 4rem;
  justify-content: center;
  width: 100%;
}
.form-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

input[type='text'],
input[type='email'], textarea{
  background: transparent;
  border: none;
  border-bottom: 1.5px solid var(--color-bg-variant);
  color: var(--color-gray);
  font-size: 1.1rem;
  outline: none;
  width: 30rem;
}
textarea{
  width: 30rem;
}
#contact{
  justify-content: center;
  align-items: center;
}
.contact-form{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  width: 90%;
  margin: 5rem auto 0;
  align-items: center;
}

.form-entity, label{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-gray);
}
.send{
  overflow: hidden;
  font-size: 1rem;
  padding: 0.5rem;
  position: relative;
  color: var(--color-gray);
  border: 1px solid var(--color-bg-variant);
  width: max-content;
  background-color: transparent;
  z-index: 2;
}

.resume::after{
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: -101%;
  top: 0;
  border-radius: 0.5rem;
  background-color: var(--color-bg-variant);
  transition: var(--transition);
  z-index: -1;
}
.send::after{
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: -100%;
  transition: var(--transition);
  background-color: var(--color-bg-variant);
  top: 0;
  z-index: -1;

}
.resume:hover:after, .send:hover:after{
  border-color: transparent;
  left: 0;
}
.resume:hover, .send:hover{
  color: var(--color-bg);
}
.active-link{
  color: var(--color-bg-variant);
}
.nav-socials-container{
  position: fixed;
  left: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0.5rem;
  top: 0;
}
.social-link{
  font-size: 1.5rem;
  color: var(--dm-gray);
  transition: var(--transition);
}
.social-link:hover{
  color: var(--color-bg-variant);
}
.nav-socials{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}
#home{
  display: flex;
  justify-content: center;
}
.home-intro{
  width: 50%;
  overflow: hidden;
}
.home-intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.home-right{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.topbar-container{
  position: fixed;
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  z-index: 99;
  align-items: center;
  transition: var(--transition);
  top: 0;
  left: 0;
}

.blur-bg{
  backdrop-filter: blur(8px);
  background-color: var(--shadow);
}
.blur-bg .switch{
  color: var(--blur-switch);
}
.blur-bg .logo{
  color: var(--color-white-gray);
}
.blur-bg .resume{
  color: white;
}
.blur-bg .resume:hover{
  color: var(--color-bg);
}

.standout{
  color: var(--color-bg-variant);
}
.logo{
  font-size: 1.3rem;
  letter-spacing: 0.8rem;
  color: var(--light-gray);
}
.switch{
  font-size: 2.5rem;
  color: var(--switch-color);
}
.profile-img{
  width: 100%;
  height: 400px;
  border-radius: 50%;
  display: flex;
  align-items: start;
  justify-content: start;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 3px var(--shadow);
}
/* .profile-img::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: lightgray;
  top: 50%;
  right: -20rem;
} */
.profile-img img{
  width: 100%;
  height: auto;
  border-radius: 1rem;
  transition: var(--transition);
}
.profile-img:hover img{
  transform: scale(1.2);
}
.brief-intro{
  color: var(--color-bg-variant);
  font-size: 1.2rem;
}
.name{
  font-size: 5vw;
  color: var(--light-gray);
}
.role{
  color: var(--color-gray);
  font-size: 2rem;
}
.resume-link{
  width: max-content;
}
.sp-section{
  padding-top: 4rem;
}
.sub-head{
  width: 100%;
  text-align: center;
  color: var(--color-gray);
  margin-bottom: 1rem;
}
.about-sections{
  display: flex;
  width: 100%;
  justify-content: center;
  height: calc(100% - 3rem);
  gap: 2rem;
}
.about-left, .about-right{
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;}
.about-left .profile-img, .about-left .profile-img img{
  border-radius: 1rem;
}
.about-left .profile-img{
  position: relative;
  height: 300px;
  box-shadow: unset;
}
.about-left .profile-img::after{
  content: '';
 background-color: transparent;
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 transition: var(--transition);
}

.about-right{
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}
.about-left .profile-img:hover:after{
  background-color: var(--shadow);
}
.more-info{
  gap: 1rem;
  display: flex;
  flex-direction:column;
}
.hobbies{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.about-info, .hobbies{
  color: var(--light-gray);
  font-size: 1.2rem;
}
.hobby-head{
  text-align: left;
  margin: 0;
}
.projects{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  place-items: center;
  width: 100%;
  gap: 1rem;
}
.col-more{
  grid-template-columns: repeat(3, 1fr);
}
.col-more .project{
  width: 300px;
  height: 200px;
}
.project{
  overflow: hidden;
  width: 400px;
  height: 300px;
  height: auto;
  position: relative;
}
.project img{
  width: 100%;
  height: auto;
}
.project-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--shadow);
  backdrop-filter: blur(4px);
  transition: var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transform: scale(0.1);
  visibility: hidden;
}
.project:hover .project-overlay{
  visibility: visible;
  transform: scale(1);
}
.live, .code{
  font-size: 1.2rem;
  color: var(--color-white-gray);
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.live:hover{
  border-color: transparent;
  background-color: var(--color-bg-variant);
  color: var(--color-bg);
  
}

.code:hover{
  border-color: var(--color-bg);
  background-color: transparent;
}
.live{
  border: 1px solid var(--color-bg-variant);
}
.code{
  background-color: var(--color-bg);
  border: 1px solid transparent;
}
@media screen and (max-width: 900px) {
 #home{
  flex-direction: column-reverse;
  gap: 1rem;
 }
 .home-intro, .home-intro{
  width: 100%;
  justify-content: center;
}
.profile-img{
  width: 320px;
  height: 320px;
}
.resume{
  font-size: 0.8rem;
  padding: 0.5rem;
}
.about-sections{
  flex-direction: column;
  gap: 0;
}
.about-left{
  justify-content: center;
}
.about-left .profile-img{
  width: 280px;
  height: 280px;
}
.about-right{
  align-items: start;
  flex: 0.6;
  flex-direction:row;
}
.about-info, .more-info{
  flex: 1;
  gap: 0.5rem;
}
.projects{
  grid-template-columns: repeat(1, 1fr);
}

}
/* landscape rotation */
@media  (max-width: 900px) and (max-height: 420px){
  .home-right{
    display: none;
  }
  
  .about-sections{
    flex-direction: row;
  }
  .more-info{
    display: none;
  }
  .projects{
    grid-template-columns: repeat(2, 1fr);
  }
  .col-more{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media  (max-width: 920px) and (max-height: 420px){
 .skill-icon{
  font-size: 3rem;
 }
 .contact-form{
  margin-top: 2rem;
}
 .project, .col-more .project{
  width: 200px;
 }
 .project-overlay{
  flex-direction: column;
 }
 .live, .code{
  font-size: 0.8rem;
 }
}

@media screen and (max-width: 650px) {
  .form-top{
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .form-bottom{
    justify-content: start;
    align-items: start;
  }
  .nav-items{
    width: 100%;
    border-radius: 0;
    justify-content: space-around;
    padding: 0.5rem;
    gap: 0.5rem;
  }
  .nav-container{
    bottom: 0;
    left: 0;
  }
  .name{
    font-size: 2.5rem;
  }
  .role{
    font-size: 1.5rem;
  }
  .profile-img{
    width: 250px;
    height: 250px;
  }
  .about-sections{
    gap: 1rem;
  }
  .about-info{
    font-size: 1.1rem;
  }
  .about-right{
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .hobbies{
    gap: 0.3rem;
  }
  .more-info{
    gap: 0;
  }
  .about-left{
    flex: 0.6;
  }
  .skill-set{
    grid-template-columns: repeat(1, 1fr);
    margin-top: 1rem;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  .nav-icon{
    font-size: 1.8rem;
  }
  .name{
    font-size: 8.5vw;
  }
  .about-left, .about-right{
    padding: 0;
  }
  .project{
    overflow: hidden;
    width: 300px;
    height: 200px;
  }
  .project-overlay{
    height: 150px;
  }
  .live, .code{
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 405px) {
  .topbar-container{
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .topbar-right{
    gap: 1rem;
  }
  
}
@media screen and (max-width: 350px) {
  .project-overlay{
    flex-direction: column;
  }
}